body, html {
    min-height: 100vh;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}


header {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
    background-color:#0b478b;
    color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    padding: 0;
}

#maincontainer {
    background-color: white;
    margin: 20px auto 10px auto;
    display: grid;
    border: 1px solid black;
    width: 45vw;
    height: 45vw;
    min-height: 300px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

.testing {
    padding-top: 100%;
    color: hsla(0, 0%, 68%, 0.596);
}

#btncontainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    color: #2aa5a1;
    text-decoration: none;
}

a:hover {
    color: white;
}

button {
    background-color: #2aa5a1;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    margin: 10px 15px;
    padding: 8px 10px;
    font-size: .9em;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

button:active {
    background-color: #3F86D8;
    color: white;
    border: 1px solid black;
}

.active {
    background-color: #3F86D8;
    transition: 0.3s;
    color: white;
    border: 1px solid black;
}

button:hover {
    background-color: #0b478b;
    color: white;
    border: 1px solid black;
    opacity: 1;
}

#rightside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 500px;
    padding: 0;
    margin: 0;
}

#sizevalue {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}

input[type=range] {
    background-color: white;
    height: 28px;
    -webkit-appearance: none;
    margin: 0;
    margin-bottom: 35px;
    width: 250px;
    padding: 0;
  }
  input[type=range]:focus {
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3F86D8;
    border-radius: 13px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3F86D8;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3F86D8;
    border-radius: 13px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #F3EEED;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3F86D8;
    border: 0px solid #010101;
    border-radius: 26px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3F86D8;
    border: 0px solid #010101;
    border-radius: 26px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #000031;
    border: 1px solid #00001E;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #F3EEED;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3F86D8;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3F86D8;
  }

main {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

#colorpicker {
    -webkit-appearance: none;
    border-radius: 100vw;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 auto 10px auto;
    overflow: hidden;
    border: 1px solid black;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }


footer {
    color: white;
    text-align: center;
    background-color: #0b478b;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;

    padding-top: 10px;
    padding-bottom: 15px;
}

select {
  display: none;
}


@media (max-width: 500px) {
  main {
    flex-direction: column;
  }

  #btncontainer {
    margin: 0 auto;
    justify-content: center;
    
  }

  #btncontainer button {
    margin: 0 3px;
    height: 35px;
  }

  button {
    display: none;
  }

  #colorpicker {
    -webkit-appearance: none;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 auto 10px auto;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }

  select {
    display: block;
    padding: 5px;
    margin: 0;
    height: 30px;
    width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9rem;
  }

  option {
    padding: 0;
    margin: 0;
  }

  input {
    padding: 0;
    margin: 0
  }
} 